[2021-08-12 10:51] v4hn commented on #284
This is a known bug in the stomp_ros package with [a trivial PR to fix this open for over a year now](https://github.com/ros-industrial/stomp_ros/pull/26).

What's the situation there @gavanderhoorn ?

[2021-08-17 22:20] Schteve-Bastian commented on #283
Pulling the PR fixed my problem, thank you.

[2021-08-17 22:20] #283 closed

[2021-08-17 22:54] Schteve-Bastian opened #285 "Connect stages are causing error with ComputeIK wrapper."
I am attempting to create task that plans from a serial container to an intermediate pose, and then to another container. Below is a code snippet with the two Connect stages and the IK wrapper.

[code]

The IK wrapper plans fine. Occasionally, the first connect stage will plan, but the second stage never does. Usually, however, the first stage will plan once, fail, and then the entire program will

[2021-08-18 08:18] v4hn commented on #285
Could you could put this into a complete (and possibly minimal) example via `FixedState`?
It looks like a failure wrongly got accepted as part of a potential solution sequence.

[2021-08-18 17:20] Schteve-Bastian commented on #285
@v4hn Unfortunately, our pipeline uses moveit_cpp and is wrapped in so much supporting software that creating a reprex is unfeasible. I did create one that uses the panda arm and move_group, but in that situation the program executes as expected. I can pose the code if you're interested. In any case, you were correct about the reason for failure. The traverse function was unable to assert that the

[2021-08-19 15:28] Schteve-Bastian commented on #209
I'm encountering the same issue. IK plans through our container, but generally the following stages are unable to plan to/from the collision state.
![image](https://user-images.githubusercontent.com/65241498/130096704-a7803603-b102-4994-836c-8c7ef76efdee.png)

[2021-08-23 12:02] #209 closed

[2021-08-29 12:58] #284 closed

[2021-09-04 14:46] robotiste opened #288 "clicking "show available stages" leads to system crash"
branch - "old-ros2"

[code]

After clicking "show available stages" rviz close down and with the error mentioned below:

[code]

Any leads on how to tackle this ...

https://user-images.githubusercontent.com/22465401/132098658-22ec3212-0a1c-4ab0-9ef9-f16db9f50af7.mp4

[2021-09-04 15:00] robotiste commented on #288
@v4hn please delete this issue if you can
I created it here by mistake :(

[2021-09-04 15:06] robotiste commented on #288
@v4hn please delete this issue
I accidentally opened it up here

this issue is related to @JafarAbdi repo's https://github.com/JafarAbdi/moveit_task_constructor/tree/old-ros2

[2021-09-04 18:47] v4hn commented on #288
Please have a look @JafarAbdi

[2021-09-04 20:47] robotiste opened #289 "Pick and place demo node is in infinite loop"
## Environment

  Repo: https://github.com/JafarAbdi/moveit_task_constructor
  ROS Distro: Foxy
  OS Version: Ubuntu 20.04
  Source or Binary build? Source
  If source, which branch? [old-ros2](https://github.com/JafarAbdi/moveit_task_constructor/tree/old-ros2)

## Expected behaviour
[code]
It should create tasks and arm start following the tasks

## Actual behaviour
[code]
[code]
It looks like, i

[2021-09-04 22:11] v4hn commented on #289
the behavior is expected. it doesn't recreate the task, but plans through all alternatives in a loop. as you can see in the rviz panel it fails to find a solution for "open hands". that's probably because the arm /hand are in collision, aren't they? maybe the robot does not spawn in the correct configuration on startup.

[2021-09-04 22:11] #289 closed

[2021-09-06 22:03] robotiste commented on #289
@v4hn Yes. It was due to the collision.

[2021-09-07 12:10] JafarAbdi commented on #288
The old version didn't have a visualization manager, which is what happens when clicking on this button, this issue should be fixed with the latest ros2 branch, I'll update the branch to target all ros2 versions (foxy/galactic/rolling)

[2021-09-07 12:10] #288 closed

[2021-09-07 15:02] robotiste commented on #288
@JafarAbdi I would love to contribute to the branch and get it up and running as soon as possible
Please let me know when can we connect.

[2021-09-14 12:21] YannickRiou opened #291 "Motion Planning tasks introspection is wrong when using map as fixed frame"
Hi,

There seems to be a problem when trying to review the planned task stages on robot that is localized into a map.

![problem_mtc_map](https://user-images.githubusercontent.com/59170639/133256028-0a342692-f3d0-48e7-a108-75287e565711.png)

As you can see on the above picture, I want to review the "grasp pose IK" stage, when  I click on it, another robot with it's environment appears at the origi

[2021-09-14 12:31] v4hn commented on #291
Could you try to provide a minimal example?
Do you see similar problems with other robot links, or is this only a problem with your map frame?
Does your moveit config specify a planar/floating virtual joint?

[2021-09-15 09:08] rhaschke commented on #291
I am able to reproduce the issue. It's a bug in MoveIt's PlanningSceneDisplay actually. I will file a PR.

[2021-09-15 13:00] #291 closed

[2021-10-01 14:55] Thijsons opened #297 "MTC install instructions on Ros2"
Hello,

I noticed there is a Ros2 branch available for the MTC, is this already functional? If so, are there any instructions available on how to install this branch? I've been working on getting it installed on Ros2 foxy by following the steps in the [tutorial](https://ros-planning.github.io/moveit_tutorials/doc/moveit_task_constructor/moveit_task_constructor_tutorial.html) (still ros1), but this

[2021-10-05 12:04] YannickRiou commented on #232
I am currently trying to use Bullet on my project with a PR2 robot. It really confuses me that we talk about the  `longuest_valid_segment_fraction` parameter for bullet. Bullet is described as a continuous collision checker, so why do we have to manually set the fraction when using it ?

[2021-10-05 12:50] AndyZe commented on #232
Bullet only does the continuous collision checks if you use the specialized method for it. By default it's discrete, just like FCL.

[2021-10-05 12:59] YannickRiou commented on #232
By specialized method, do you talk about checking collision for specific situation as in the moveit tutorial about bullet ?

[2021-10-11 14:07] YannickRiou opened #300 "Missing task name setting in task constructor"
A part of code is missing in the task constructor in task.cpp

Earlier it was set like this :
[code]

But now if I'm not mistaken (and it's not being set elsewhere) it is missing.
https://github.com/ros-planning/moveit_task_constructor/blob/55e30e26ce8396993d2af93156c92816659c6270/core/src/task.cpp#L110

It causes the task to be named "task pipeline", which is the default name of the high-level se

[2021-10-12 16:37] JafarAbdi commented on #300
@YannickRiou I think  [setName](https://github.com/ros-planning/moveit_task_constructor/blob/55e30e26ce8396993d2af93156c92816659c6270/core/include/moveit/task_constructor/task.h#L83) is what you're looking for, right .?

[2021-10-13 09:17] #300 closed, assigned to nobody

[2021-10-22 21:33] Schteve-Earl opened #303 "Connect stage will not plan after the introduction of a gripper group move"
I am attempting to copy the pick-place tutorial with my own moveit config. I was able to successfully plan with just the robot manipulator group using this stage:

[code]
Which is able to plan:
![image](https://user-images.githubusercontent.com/65241498/138524526-a9060adb-101e-4047-8c98-bbb282ca56c7.png)

However, when I add this MoveTo stage either immediately before or after the connect Stage:
[

[2021-10-24 20:18] #303 closed, assigned to nobody

[2021-11-15 17:59] JafarAbdi opened #308 "Bug in pruning"
I have a very simple task, that fails to find a solution because it's not trying to connect certain pairs, I created a [simple test](https://github.com/JafarAbdi/moveit_task_constructor/tree/pr-pruning_bug) the trigger it, I have spent so much time trying to debug it without any hope :(

[code]

I'll keep posting my findings, I would really appreciate any help

[2021-11-16 13:10] JafarAbdi commented on #308
Commenting https://github.com/ros-planning/moveit_task_constructor/blob/master/core/src/container.cpp#L189-L190 resolve it, but that disables pruning :/

[2021-11-18 13:33] rhaschke commented on #308
Thanks for reporting. Looks like a pruned branch isn't re-enabled again. I will have a look.

[2021-11-18 15:29] v4hn commented on #308
Hey Robert, I've been talking to Jafar already and am looking into it. Sorry, I should have commented here earlier...

The culprit is that pruning through solutions generated by connect stages does not take into consideration alternative connect approaches and the *opposite* state (in this case from the first generator) should be pruned, but still needs to be scheduled for futher connect attempts.

[2021-11-19 10:15] rhaschke commented on #308
Thanks for the hint. I looked into your WIP branch and I'm (still) not convinced. I figured out another reason for the failure. Give me some more time to file a corresponding WIP fix.

[2021-11-19 14:50] rhaschke commented on #308
@v4hn, I pushed my WIP here: https://github.com/ros-planning/moveit_task_constructor/pull/309. I believe, the failing pruning through a `Fallbacks` container, is probably due to the `Fallbacks` itself as a `SerialContainer` works.

[2021-11-26 06:04] rhaschke opened #312 "Scheduling"

[2021-11-26 07:25] rhaschke opened #313 "Pruning"

[2021-11-26 10:27] rhaschke opened #314 "What is needed to only report `exhaustive` failures?"
It has to be proven highly important to replace `onNewFailure()` with `onExhaustiveFailure()` to make pruning and Fallbacks actually work correctly.

### When are specific stage types exhausted?
- generator: if it cannot compute anymore
- MonitoringGenerators: if it cannot compute **and** its feeding stage can't either
- native propagator: immediately if they failed to advance an input
- generic p

[2021-11-26 10:53] rhaschke opened #315 "How to handle priority updates?"
- How should we handle multiple solutions for a given pair of (start, end) states? Report all? Only the best one? Make it configurable?
- Priority updates should only decrease prios!
![image](https://user-images.githubusercontent.com/5376030/143569824-1774c64f-c4f5-47c3-a2fa-25b4d83d78e3.png)

[2021-11-26 13:49] JafarAbdi opened #316 "[ros2]: TODOs"
- [ ] Fix the change to RemoteTaskModel to have an internal node for the GetSolution client (not having it will cause the client to never be able to get a response causing RViz to freeze): [link](https://github.com/ros-planning/moveit_task_constructor/blob/98ced788c8fc3f6e6f7a697ac65a786c37a48f85/visualization/motion_planning_tasks/src/remote_task_model.cpp#L196)
- [ ] Fix the change to Introspect

[2021-12-03 13:06] juiceine opened #317 "MTC Build errors in ROS2"
Hi there,

I tried to install the Task Constructor for ROS2 Foxy. However, I stumble on build errors that seem related to the code itself. Is the ROS2 branch already ready for usage or is this still WIP? Any advice would be welcome!

System:
Ubuntu 20.04
ROS2 Foxy
MoveIt2 (binary install)

How to reproduce:
Install the Task Constructor according to the MoveIt 1 - Noetic tutorial, but replace
`git

[2021-12-03 13:34] JafarAbdi commented on #317
Currently, the `ros2` branch doesn't work on `foxy` due to the difficulty of maintaining 3 distros in the same branch, I'll push a new branch with fixes for foxy, it should be ready in an hour

[2021-12-21 18:46] AndyZe opened #323 "SolutionBase.fillMessage() creates an empty message"
On the ROS2 branch.

I'm trying to parse the fields of a Solution message so I can execute them individually. I've noticed that publishing the message works fine:

[code]

But the message produced this way is empty:

[code]

Prints `Task ID:`

[2021-12-21 19:03] JafarAbdi commented on #323
`fillMessage` doesn't set the `task_id`, have you tried printing the whole message?

[code]

Do you mind providing a small reproducible example?

[2021-12-21 19:16] AndyZe commented on #323
That does work. Thanks Jafar.

[2021-12-21 19:16] #323 closed

[2021-12-21 21:29] AndyZe opened #324 "ROS2 branch: difficulty in retrieving Stage ID"
I'm having some trouble retrieving stage ID's. I've tried 4 different ways (attached).

For example, here I don't explicitly set the stage ID. When printed, all of the `id` fields are 0!

[code]

The other ways I tried (in brief) are:

- Using Stage::introspectionId() where the stage is a member variabe unique_ptr

- Setting the id explicity with `task_.introspection().stageId(*open_fingers_stage_

[2021-12-21 21:34] AndyZe commented on #324
If I do `ros2 topic echo /solution`, the `stage_id` field is populated.

[2021-12-21 21:36] AndyZe commented on #324
I want to have the id available so a state machine can execute the stages individually.

[2021-12-22 06:44] JafarAbdi commented on #324
I think you need to pass a pointer to the introspection when filling the message `task_.solutions().front()->fillMessage(solution, &task_.introspection());` otherwise it's setting the id to zero https://github.com/ros-planning/moveit_task_constructor/blob/master/core/src/storage.cpp#L175

[2021-12-22 07:03] rhaschke commented on #324
Exactly. The IDs were intended for communication with rviz only. If this is not required, the IDs stay zero.

[2021-12-22 14:23] AndyZe commented on #324
Thanks @JafarAbdi. That does work for filling the message. It doesn't fix the bigger problem of how to correlate the sub-trajectories to a Stage ID somehow, so that the state machine can call the stages individually.

I see some stuff in remote_task_model.cpp that might help, like:

`visualization/motion_planning_tasks/src/remote_task_model.cpp:  auto it = id_to_stage_.find(stage_id);`

I have to

[2021-12-22 14:26] AndyZe opened #325 "Crash when stage is a member variable"
[code]

Stack trace:

`[ERROR] [mtc_demo_node-1]: process has died [pid 30956, exit code -11, cmd '/opt/colcon_ws/install/bro_manipulation_manager/lib/bro_manipulation_manager/mtc_demo_node --ros-args --params-file /tmp/launch_params_hnsr2_j0 --params-file /tmp/launch_params_vr1h9ke9 --params-file /tmp/launch_params_u_eb_jru --params-file /tmp/launch_params_41h_88id --params-file /tmp/launch_param

[2021-12-22 14:41] rhaschke commented on #324
Hi Andy,
I think you are looking for something like #192/#194.
The MTC messages were primarily designed for internal communication between MTC and its rviz display. The `stage_id` is published once in the TaskDescription/StageDescription message together with clear-test names of stages. For efficiency, the Solution messages (which are much more frequently exchanged) don't comprise this info anymor

[2021-12-22 14:45] AndyZe commented on #324
Yep, Felix's idea is what I'm looking for. Thanks.

[2021-12-22 15:07] rhaschke commented on #325
I guess you try to access the member variable after moving it into the task?
Otherwise, I don't see a reason why this should fail.

[2021-12-22 15:18] AndyZe commented on #325
Nope, I double checked. Here's a grep of `open_fingers_stage_` to verify:

[code]

[2021-12-22 15:20] rhaschke commented on #325
Where is the initialization/creation of `open_fingers_stage_`? Did you cover all files?

[2021-12-22 15:24] AndyZe commented on #325
Geez, you are right. Initialization was missing. Thanks

[2021-12-22 15:24] #325 closed

[2021-12-22 15:57] #324 closed

[2021-12-29 16:01] AndyZe opened #327 "Costs increase quite a bit when planning from a hard-coded robot state"
We recently switched from starting from the current robot state:

`place_task_.add(std::make_unique<CurrentState>(PlaceStageEnum::PLACE_STAGE_MAP.at(PlaceStageEnum::CURRENT)));`

... to planning from a hard-coded robot state:

[code]

The MTC plan stills works but I noticed a lot of the stage costs have grown from sub-100 to ~1200. It's curious that they are all around 1200. Here is a list of stag

[2021-12-29 16:45] rhaschke commented on #327
Costs are defined via `setCostTerm()` and are either zero or `PathLength` by default. Which concrete code you are referring to??

[2021-12-29 17:10] AndyZe commented on #327
Thanks. There's no way I can share this codebase.  :/

I wonder if the cost jumped because the robot is dual-arm and only the right arm position was initialized.

[2021-12-29 17:18] v4hn commented on #327
Robert answered your question on where the values are computed. The rest seems to be specific to your setup and not an actual upstream bug.

As a rule of thumb: look at the states in RViz. If your hardcoded state differs from the expected one (especially joint rotations of \tau might be relevant and cannot even be seen in the visualization...) If you see huge costs it might be because some of the

[2021-12-29 17:18] #327 closed

[2022-01-04 09:48] YannickRiou opened #328 "Panda gripper reports status aborted when grasping object"
When using real panda robot with moveit task constructor, I run into a problem with the gripper with it tries to grasp an object.
Here is the error :
[code]

Here is the code that create the task : https://gist.github.com/YannickRiou/f84a52efa3acbdb061ce82b38a76c97e
The gripper_planner_ is a joint interpolation planner (it worked well on the PR2 robot) :
gripper_planner_ = std::make_shared<solvers

[2022-01-04 09:56] rhaschke commented on #328
@rickstaa, did you find a good solution to operate the Panda gripper?

[2022-01-04 22:24] AndyZe opened #330 "Time between points is not strictly increasing"
Time parameterization occasionally causes an error like this:

`Time between points 10 and 11 is not strictly increasing, it is 0.357595 and 0.357595 respectively`

For reference, #326 proposed a simple solution.

[2022-01-05 08:26] EspenTeigen opened #331 "moveit_error_code.h is missing during install"
OS: Ubuntu 18.04
ROS version: Melodic

catkin build gives me this error

`Errors     << moveit_task_constructor_core:make /home/espente/ROS/tiago/logs/moveit_task_constructor_core/build.make.000.log
In file included from /home/espente/ROS/tiago/src/moveit_task_constructor/core/include/moveit/task_constructor/task_p.h:42:0,
                 from /home/espente/ROS/tiago/src/moveit_task_constructor/c

[2022-01-05 08:28] EspenTeigen opened #332 "moveit_error_code.h is missing"
OS: Ubuntu 18.04
ROS version: Melodic

catkin build gives me this error

`Errors     << moveit_task_constructor_core:make /home/espente/ROS/tiago/logs/moveit_task_constructor_core/build.make.000.log
In file included from /home/espente/ROS/tiago/src/moveit_task_constructor/core/include/moveit/task_constructor/task_p.h:42:0,
                 from /home/espente/ROS/tiago/src/moveit_task_constructor/c

[2022-01-05 08:29] rhaschke commented on #331
This file was only recently added to MoveIt and not yet released. You need to build MTC against a MoveIt source build for now.
A new Melodic release of MoveIt is pending, but we are waiting for a few more PRs to be reviewed and merged before.

[2022-01-05 08:29] #331 closed

[2022-01-05 08:29] EspenTeigen commented on #331
Thank you for a really quick response :)

[2022-01-05 08:29] #332 closed

[2022-01-05 15:17] YannickRiou commented on #328
As shown in the gist in my original post, I am indeed using the open/closed pre-defined poses for the panda hand planning group in the task creation. The command is correctly sent to the real panda hand (before the pick, the gripper is correctly opened, and when grasping the gripper close correctly before going into error because it can't reach the fully close position because of the grasped objec

[2022-01-05 15:43] rickstaa commented on #328
@YannickRiou I see. I, unfortunately, do not have access to the real robot at the moment so I can not help you debug this problem further. I will work with the real robot in Feb again. I, therefore, think the fastest way to debug is to open an issue for it on the [franka_ros](https://github.com/frankaemika/franka_ros/issues) repository.

[2022-01-06 00:23] rhaschke commented on #328
@YannickRiou, do you use the GripperCommand action to execute your hand trajectories?
As Rick said, Franka is working on the GripperCommand: https://github.com/frankaemika/franka_ros/issues/193.

As a workaround, you could try to set a large enough goal tolerance for your trajectory controller.

[2022-01-06 11:25] sabinevanderwerff commented on #317
It has been a while, but I was wondering if there is any progress with this?

[2022-01-07 08:56] YannickRiou commented on #328
Yes I do use the GripperCommand in my panda_moveit_config/config/panda_gripper_controllers.yaml :
[code]
I didn't know that this was still in developpment, I will track the issue that you mentionned and for now I will try to set a large goal tolerance as a workaround.

[2022-01-09 20:06] bostoncleek commented on #281
The GPD demo works now. Update by pulling the latest changes:

1) https://github.com/bostoncleek/deep_grasp_demo/tree/update_generators
2) https://github.com/bostoncleek/moveit_task_constructor/tree/pr-deep_grasp_stage

[2022-01-13 09:17] YannickRiou commented on #328
Increasing theses values solved the problem :
[code]
in the following configuration file franka_ros/franka_gripper/config/franka_gripper_node.yaml

[2022-01-13 09:17] #328 closed

[2022-01-13 09:50] rickstaa commented on #328
Great, a detailed discussion about why this works can be found [here](https://github.com/frankaemika/franka_ros/pull/173#issuecomment-977694465).

[2022-01-18 14:42] cs-99 opened #334 "Missing moveit_error_code.h"
I recently tried building the moveit_task_constructor, which did not work since moveit/utils/moveit_error_code.h was missing. It seems like the file was moved to MoveIts core (see https://github.com/ros-planning/moveit/pull/3009) but is still included from moveit/utils in task.h. I simply fixed it manually and everything worked fine.

[2022-01-18 14:50] rhaschke commented on #334
I'm confused. The [PR #3009](https://github.com/ros-planning/moveit/pull/3009) you mentioned exactly moved `moveit_error_code.h` into the location `moveit/utils` you mentioned. However, as the latest MoveIt releases (into Melodic and Noetic) are not yet synced, an installation from binary .debs probably will still miss this file.
Please provide more detailed information about your versions and wha

[2022-01-18 15:11] cs-99 commented on #334
I run Noetic. "However, as the latest MoveIt releases (into Melodic and Noetic) are not yet synced, an installation from binary .debs probably will still miss this file." should be the issue here. I just added the file to moveit/utils.

[2022-01-18 15:11] #334 closed

[2022-01-24 23:01] mathieugouletcrvi commented on #281
Hi @bostoncleek I tried to build the demo with the new files from your branch and it seems that the file moveit/utils/moveit_error_code.h is not found in task_p.h . I saw this https://githubmemory.com/repo/ros-planning/moveit_task_constructor/issues/331 from @rhaschke . I tried to merge the branch on the master but I am not still not able to build.

Is there is a way to find the file or to modify

[2022-01-25 02:08] bostoncleek commented on #281
@mathieugouletcrvi You should build the demo using the branch in [PR 14](https://github.com/PickNikRobotics/deep_grasp_demo/pull/14). This is currently working on my end. Please let me know if you experience issues.

[2022-01-25 14:59] mathieugouletcrvi commented on #281
@bostoncleek Hi, I restarted with a clean work space for both ws_moveit and ws_grasp and took the branch in PR 14 .

git clone https://github.com/bostoncleek/moveit_task_constructor.git -b pr-deep_grasp_stage
git clone https://github.com/bostoncleek/deep_grasp_demo.git -b update_generators

Unfortunatly, I still have a broken dependency from task_p.h on moveit/utils/moveit_error_code.h

I am on ub

[2022-01-25 15:19] mathieugouletcrvi commented on #281
@bostoncleek Hi, I restarted with a clean work space for both ws_moveit and ws_grasp and took the branch in

https://github.com/bostoncleek/deep_grasp_demo/tree/update_generators
https://github.com/bostoncleek/moveit_task_constructor/tree/pr-deep_grasp_stage

Unfortunatly, I still have a broken dependency from task_p.h on moveit/utils/moveit_error_code.h

If I try to take the branch in PR 14 from

[2022-01-25 16:18] rhaschke commented on #281
@mathieugouletcrvi, did you update your MoveIt installation? We have cut a new release into MoveIt (1.0.9) recently, which is not yet synced. Consider using the debians from the [ROS `testing` repo](http://wiki.ros.org/TestingRepository).

[2022-01-25 18:50] mathieugouletcrvi commented on #281
@rhaschke Hi, I tried to use ROS testing repo. It still does not work... If I go with the master branch, I have error including SampleGraspPosesAction.h in grasp_image_detection.cpp and grasp_detection.h. The other error is still moveit_error_code.h missing from task.h.

@bostoncleek Hi, If I use the testing repo with the PR14 branch, I still miss moveit_error_code.h in task.h. I found the file he

[2022-02-14 16:08] captain-yoshi opened #336 "Compilation failing for core test"
Updated MTC to latest commit (prior 8 month old commit). Tried to compile against a clean workspace but still getting an error from `moveit_task_constructor_core` test. Using ROS Noetic. Disabling test for now to compile correctly.
[code]
Libgtest info
[code]

[2022-02-14 21:00] rhaschke commented on #336
This looks like a gtest incompatibility. Do you use any non-standard version?

[2022-02-16 14:04] captain-yoshi commented on #336
Not that I know of. Will try to pinpoint the cause later today and report back.

[2022-02-16 16:25] captain-yoshi commented on #336
Prior 61496fe, everything compiles fine. The only thing that was added is `gmock`.
https://github.com/ros-planning/moveit_task_constructor/compare/61496fe..61399d6

System information:
[code]
Should I install `libgmock-dev` instead of `google-mock` ?

[2022-02-16 23:33] rhaschke commented on #336
I have `libgmock-dev` 1.10.0-2 installed. Looks like this dependency is missing from package.xml?

[2022-02-17 08:33] captain-yoshi commented on #336
Seems like @v4hn figured out the culprit that caused the [issue](https://github.com/ros-industrial/ros_industrial_cmake_boilerplate/issues/54).

I was using an old version of STOMP which had a bug in one of it's dependency. Finally got it to compile after updating Stomp and cleaned up the workspace.

Compiled w/wo `libgmock-dev` and still compiled fine.

I think recent version of `gtest` builds `g

[2022-02-17 08:33] #336 closed

[2022-02-18 17:55] captain-yoshi opened #337 "Regression with prunning"
With the latest prunning fix, I am welcomed by this assert:
[code]
I think this is a regression because with commit ed45970 the planning ends normally.

Another possible bug is that the `current_state` is in collision and marked as succesfull. Should a `FixedStateStage` be checked against collisions and mark it as a failure ?

### Setup
I use a setup that is similar to the pickplace demo with thes

[2022-02-21 20:35] dazednconfusing commented on #202
Is there a way to enforce connection stage planning to be performed last? That way all planning can exit as soon as a complete solution is found for each sub-task and as long as generators sandwich the connect, the external interface should be unaffected.

[2022-02-22 06:48] rhaschke commented on #202
No.

If you just want to exit as soon as one solution is found, you can do so but providing `max_solutions=1` to `Task::plan()`.

[2022-03-03 15:35] rhaschke commented on #337
Thanks for reporting this issue. To facilitate debugging, could you please provide a replicable, optimally minimal, setup?
Otherwise, we spent a lot of time just trying to reproduce an issue, which you already observe.

[2022-03-03 17:42] rhaschke commented on #337
@v4hn, this is a great example, where pruning across the short-cut connection of a `MonitoringGenerator` would be really helpful!

[2022-03-03 18:10] captain-yoshi commented on #337
@rhaschke Bullseye ! [Here](https://github.com/captain-yoshi/moveit_benchmark_suite/blob/master/mtc/src/pickplace_task.cpp#L98) is my implementation, it is roughly the same as the mtc demo. In theory the mtc demo should also get the `current_state_ptr` from the [open hand](https://github.com/ros-planning/moveit_task_constructor/blob/master/demo/src/pick_place_task.cpp#L206-L211) stage and not the

[2022-03-04 06:10] rhaschke commented on #337
Thanks for this hint. I'm able to reproduce the issue now.

Yes, that will avoid the issue.
Nevertheless, I will have a look at this regression now.

[2022-03-04 15:08] captain-yoshi commented on #337
Replied in the PR.

I also tested #340 with #338 and the planning stops immediately when in collision from the start. Thanks and great work.

[2022-03-08 11:02] v4hn opened #341 "merging trajectories can throw away trajectory timing"
When a stage merges trajectories (either `Connect`, doing it implicitly or a `Merger` stage), the trajectories time parameterization [is computed from scratch](https://github.com/ros-planning/moveit_task_constructor/pull/339#discussion_r819593676) with hard-coded scaling factors.

This can unexpectedly speed up trajectories that were explicitly slowed down.

From my perspective, a proper solution

[2022-03-08 13:49] mathieugouletcrvi commented on #281
Hi @qyp-robot which branches have you used when you said : I have completed the linkage of panda robot model between moveit and gazebo.

Is it :
https://github.com/bostoncleek/deep_grasp_demo.git -b update_generators
https://github.com/bostoncleek/moveit_task_constructor.git -b pr-deep_grasp_stage

And
https://github.com/ros-planning/panda_moveit_config.git -b melodic-devel
Or
https://github.com/r

[2022-03-14 19:23] JafarAbdi commented on #308
Fixed with https://github.com/ros-planning/moveit_task_constructor/pull/309

[2022-03-14 19:23] #308 closed

[2022-03-18 14:52] AndyZe opened #342 "Why the raw Stage pointers?"
I'm just curious, I see a lot of raw pointers in the demos, e.g.

https://github.com/ros-planning/moveit_task_constructor/blob/3a30e498bf081c83e6d206b9c150001cfbd67ad7/demo/src/pick_place_task.cpp#L182

I also had difficulty caching anything but a Stage* so I can use it to retrieve the stage_id. I would have preferred a shared_ptr:

`auto const stage_id = const_introspection.stageId(stage);`  // s

[2022-03-18 15:10] AndyZe commented on #342
If stages were stored internally as `shared_ptr` rather than `unique_ptr`, I would be able to cache stage pointers as `shared_ptrs` (I think).

[2022-03-18 15:14] rhaschke commented on #342
We intentionally decided for `unique_ptr` because stages shouldn't be "cached": It is strictly forbidden to re-use the very same stage in a different location of the pipeline!

[2022-03-18 15:18] rhaschke commented on #342
You can easily access stages within a container by their name:
https://github.com/ros-planning/moveit_task_constructor/blob/986d3c876620bde714076c8659bb17483086061f/core/include/moveit/task_constructor/container.h#L55

[2022-03-18 15:18] AndyZe commented on #342
^ great, that might be what I needed  :+1:

[2022-03-18 15:18] #342 closed

[2022-03-18 15:26] AndyZe commented on #342
@rhaschke it looks like `findChild` only works in containers, huh? For example a SerialContainer. How would I access a stage outside the container?

I'll try putting my entire pick/place pipeline in a SerialContainer. I think that would work fine.

[2022-03-18 15:32] rhaschke commented on #342
What exactly do you mean? Stages always reside in a container, aren't they?
We don't yet have a method to recursively search for a given stage within a hierarchy of containers if that's what you are looking for. A PR for this is highly welcome. I had a syntax like `name A/name B/name C` in mind, i.e. separating names in the hierarchy via slashes. However, this limits possible names of stages to no

[2022-03-18 15:35] AndyZe commented on #342
Well, the pick/place demo seems to have some stages that are not in a container:  https://github.com/ros-planning/moveit_task_constructor/blob/6d104e837e6c79b2578d1f13f89b519942c34659/demo/src/pick_place_task.cpp#L218

The container starts at L233.

My immediate problem is resolved. This is just an academic discussion for me, now.

[2022-03-18 15:36] rhaschke commented on #342
Each stage is part of a container. The task itself is a SerialContainer (by default) as well :wink:

[2022-03-21 17:24] AndyZe opened #343 "ROS2: one version of allowCollisions() does not work"
This works:

[code]

This does not work:

[code]

[2022-03-22 15:12] AndyZe opened #344 "ROS2: Container `findChild()` crashes"
This crashes:

  uint32_t const unique_stage_id =
      grasp_serial_container_->findChild(stage_name)->introspectionId();

`[ERROR] [mtc_demo_node-1]: process has died [pid 1403635, exit code -11, cmd '/home/andy/.../install/task_planning/lib/task_planning/mtc_demo_node --ros-args --params-file /tmp/launch_params_vc5xku0m --params-file /tmp/launch_params_azk5w6er --params-file /tmp/launch_params_

[2022-03-22 15:16] JafarAbdi commented on #344
Do you have a stack trace or a reproducible example?

[2022-03-22 16:12] AndyZe commented on #344
Backtrace:

[code]

[2022-03-22 16:47] AndyZe commented on #344
I'm working on it. It's a large client demo that I can't share easily.

[2022-03-22 16:53] rhaschke commented on #344
Then you should try to extract a minimal example.

[2022-03-22 19:47] AndyZe commented on #344
Jafar figured this out, like usual. I was calling `grasp_serial_container_->findChild()` after I had already "moved it" to the Task.

The way to access a named stage from the Task is:

`task_.stages()->findChild(stage_name)->introspectionId();`  (for example)

[2022-03-22 19:47] #344 closed

[2022-03-22 19:50] rhaschke commented on #344
That's what I kind of expected... Good, that you found the issue.

[2022-03-23 17:51] AndyZe opened #346 "Documentation: 2 CurrentStates are not allowed"
So, it seems that a Task cannot have 2 CurrentState-type stages. Is that correct? It seems worth mentioning in the header file, at least. I can make a documentation PR.

Code:

[code]

Calling `MakeInitialStateStage()` followed by `MakePreDropStateStage()` causes this error. (It is probably not meaningful -- `fp` is a custom library we are using):

[code]

[2022-03-23 19:15] v4hn commented on #346
technically you are absolutely allowed to use the stage more than once. there's even code in the ros2 branch just for this case (instance - specific node names).

practically however, it's not very intelligent to do that. instead it makes more sense to monitor the spawned solution of the first current state and spawn it as well.

[2022-03-27 02:47] captain-yoshi commented on #232
**FYI** I also can trigger the memory leak in MoveIt with this CollisionRequest on multiple trials (10,000):
[code]
This happens only when `distance=True`. In this mode, the CollisionResult `contact_count` gives weird results like 1100 contacts for a scene with 4 objects in contact and 1121 contacts with a scene that has no contact. The same scenes with FCL reports the correct values.

[2022-03-27 19:22] captain-yoshi commented on #336
**FYI** The library `libgmock-dev` is really needed. I triggered the same bug today (with an up to date Stomp package) when the library is missing.

It seems tricky to add dependencies to gmock from this [post](https://answers.ros.org/question/199680/catkin-doesnt-play-nice-with-google-mock/?answer=318629#post-id-318629).

[2022-03-31 15:34] JafarAbdi opened #349 "Possible bug in ModifyPlanningScene"
I'm not sure if this's a bug in ModifyPlanningScene or a misuse from my side, so I have the following task

CurrentState
SerialContainer

[2022-03-31 15:34] #349 closed

[2022-03-31 17:54] AndyZe commented on #349
I think I might be facing the same issue on a different project. We would like the suction cups to be able to touch the object.

[2022-03-31 18:48] v4hn commented on #349
That is an interesting idea, though not as straight-forward as you might expect. The modifying wrapper was mostly meant to modify *solutions* of children stages, not the stages passed to them. And if I understood you correctly that's what you would want here to adapt the ACM.

As Robert explained the ModifyPlanningScene container is meant to be defined *in temporal* order, not *causal*.
That has s

[2022-03-31 19:13] AndyZe commented on #349
You mean we should set `allowCollisions()` to false to allow the collision? Wow, that would be unintuitive. I'll try it.

[2022-04-02 01:28] schornakj commented on #349
@rhaschke @v4hn I'll post here since I'm working on the same code as @JafarAbdi. As he said, we're working on a task where the robot needs to be able to partly intersect with the planning scene's collision octomap during the final part of a grasp motion, but needs to avoid collision with the octomap during other motions.

In more detail, our task looks like this:
[code]

There are a few things I w

[2022-04-02 02:04] Jeisongarcia9713 opened #350 "ros2 pickplace.launch.py demo planning fails"
Hello, I am trying to make work the pick and place demo in ros2 galactic, the demo.launch.py is throwing without any error even though when I run the pick and place launch and the plain fails but there is no too much detailed about the problem.

[code]
[INFO] [launch]: All log files can be found below /home/jeison/.ros/log/2022-04-01-20-27-21-530037-jeison-134961
[INFO] [launch]: Default logging v

[2022-04-02 07:12] v4hn commented on #349
This is a bug in solution extraction. Extracting the planning scene diffs happens by taking [the diff of the end scene](https://github.com/ros-planning/moveit_task_constructor/blob/master/core/src/storage.cpp#L222), but that only works when the end scene is a diff on top of the start scene (in forward propagators). The missing part for you is that in backward stages, the planning scene change shou

[2022-04-02 07:14] v4hn opened #351 "PlanningScene diffs in solutions are not correct non-ForwardPropagator stages"
Copy from https://github.com/ros-planning/moveit_task_constructor/issues/349#issuecomment-1086571488 :

But generally Connecting and Generator-type stages can yield solutions with unrelated planning scene interface states as well, so we actually need a method to generate a full diff from two decoupled PlanningScenes to use here.

[2022-04-05 00:08] JeisonUR commented on #350
I was debugging and the problem is in the stage "grasp pose IK" and is exactly in the compute function from the class ComputeIK https://github.com/ros-planning/moveit_task_constructor/blob/ros2/core/src/stages/compute_ik.cpp#L380 because is never succeed

[2022-04-07 13:53] AndyZe commented on #349
Just wondering, have you considered inverting the logic internally so the user doesn't need to? It would be pretty nice if `allowCollisions(true)` always meant the same thing

[2022-04-12 08:23] IgorUnlimited commented on #350
@JafarAbdi

[2022-04-14 18:15] JafarAbdi opened #353 "Using ExecuteTaskSolutionCapability to execute a solution is overriding the joint state values"
This is happening because in [execute_task_solution_capability.cpp#L179](https://github.com/ros-planning/moveit_task_constructor/blob/master/capabilities/src/execute_task_solution_capability.cpp#L179) it modifies the state in the planning scene monitor which overrides the values from `/joint_states`, `/tf`, `/tf_static` topics

Possible fixes could be

1- Reset the robot_state's joint_state and mu

[2022-04-14 18:37] schornakj commented on #349
@v4hn Thank you for writing up that explanation. @JafarAbdi and I are going to implement the update to planning scene diff propagation you mentioned.

[2022-04-14 20:21] schornakj opened #354 "[ros2] How to specify a controller to use when executing a trajectory through the ExecuteTaskSolutionCapability ROS interface?"
This is similar to this MoveIt2 issue I posted: https://github.com/ros-planning/moveit2/issues/1182

When the ExecuteTaskSolutionCapability [converts the solution message](https://github.com/ros-planning/moveit_task_constructor/blob/27672f8e2dd6ae690308357ac61e6771293084f0/capabilities/src/execute_task_solution_capability.cpp#L146-L189) into a series of `ExecutableTrajectory` objects, it does not

[2022-04-16 09:32] rhaschke commented on #354
There is already a pending PR for this: https://github.com/ros-planning/moveit_task_constructor/pull/123

[2022-04-19 05:24] sillkjc commented on #350
This looks very similar to a problem I ran into. If you visualise the target pose the translation component is not being set correctly to the YAML value:
[code]
Modifying the stage to hard code in a translation component which is not in collision allowed the IK to compute and proceed.

[2022-04-20 14:48] schornakj commented on #354
Thank you for linking that! I submitted #355 as a ROS 2 version of #123, with some additional updates to add suggestions from #123's review.

[2022-04-21 11:44] IgorUnlimited commented on #350
@sillkjc
Did you manage to finish the pick and place in your case?
Because after use your hardcode hack I get error on next step
`[pick_place_demo-1] [ERROR] [1650540406.167990950] [rosparam_shortcuts]: Missing parameter 'moveit_task_constructor_demo.execute'.
`

[2022-04-21 20:16] JafarAbdi commented on #350
I'll take a look at this next week, if I remember correctly it was more of a bug in moveit2 than MTC, I'll keep you posted as I work on this

[2022-04-28 18:28] JafarAbdi commented on #353
@v4hn @rhaschke do you any preferences?

[2022-05-04 16:32] swiz23 opened #359 "Using MTC to Plan a Circular Path"
@JafarAbdi,

I'm having issues trying to use the ros2 branch of MTC to plan a circular path around a non-TCP frame (that already includes PR #322). I wrote up a question at ROS Answers describing the problem. Instead of copying and pasting it, I'm linking to it [here](https://answers.ros.org/question/400041/using-mtc-to-plan-a-circular-path/). In a nutshell though the two main questions I have are

[2022-05-08 09:54] #330 closed

[2022-05-08 09:56] #337 closed

[2022-05-13 22:32] JeremyZoss opened #361 "Commit 36459e38 breaks build for Eigen3"
On some platforms, `eigen3_cmake_module` is required to fix non-standard env vars in the default provided `FindEigen3`, as described [here](https://github.com/ros2/eigen3_cmake_module).  To work correctly, the package must call `find_package(eigen3_cmake_module)` *before* `find_package(Eigen3)`.

Commit 36459e38 reverses the order of these two calls in `rviz_marker_tools/CMakeLists.txt`, which cau

[2022-05-21 10:31] #361 closed

[2022-05-25 15:48] #350 closed

[2022-05-29 15:03] rhaschke commented on #353
I guess the differences between actual joint state values (after execution) and those in `scene_diff` are marginal, right?
I would prefer the second option: the planning scene diff shouldn't comprise joint values in first place.
Sorry for the delay in replying.

[2022-05-30 19:40] samiulextreem opened #368 "moveit_configs_utils is missing"
I am trying to install moveit_task_constructor in my workspace of ros 2 foxy. But so far i have met with failure.
 I have run the following command
`cd src`
`git clone https://github.com/ros-planning/moveit_task_constructor.git -b ros2`
`vcs import < moveit_task_constructor/.repos`
`cd ..`
`colcon build --packages-select moveit_task_constructor `

But it throws a bunch of error.

When i run `rosde

[2022-05-31 14:19] samiulextreem commented on #368
Hi @JafarAbdi

I cloned the galactic branch and run the rosdep. It does not throws any problem. But when I try to build the package, It did not build.
I also want to mention that running `vcs import < moveit_task_constructor/.repos` line, it clone rosparam_shortcuts package which also throws the following error.

[2022-05-31 14:38] JafarAbdi commented on #368
Can you try using https://github.com/PickNikRobotics/rosparam_shortcuts/tree/foxy rather than `ros2` branch and see if it resolves the issue for you?

[2022-05-31 15:12] #317 closed, assigned to nobody

[2022-05-31 15:14] JafarAbdi commented on #343
Is this still an issue? Do you mind providing a minimal reproducible example?

[2022-05-31 15:16] JafarAbdi commented on #346
@AndyZe Could you please provide the stack trace or a minimal reproducible example?

[2022-06-01 14:48] samiulextreem commented on #368
Hi @JafarAbdi
Now i have taken a look at ros 2 foxy doc, i have not  found anything related to moveit_test_constructor. Can you confirm that this package indeed made to run on foxy instead of humble?

[2022-06-01 21:50] JafarAbdi commented on #368
I'm sorry, after looking at it again, I found out that we didn't support foxy for MTC, the minimal supported version is galactic

[2022-06-01 21:50] #368 closed

[2022-06-01 21:51] #297 closed

[2022-06-01 21:52] #343 closed

[2022-06-23 15:45] zflat commented on #140
If stages cannot be shared across several containers, it sound like we have a hierarchical structure. I think that can be enforced by ensuring each stage has no more than one parent. When attempting to add a stage to a container we can check if the stage already has a parent and either remove from the existing parent or fail to add to the new parent.

[2022-06-24 06:57] rhaschke commented on #140
We already enforce this:
https://github.com/ros-planning/moveit_task_constructor/blob/39427f89bfb77ae55cf6ae95632bac841e75f1a8/core/src/container.cpp#L185-L189

[2022-07-23 04:17] lm2292 commented on #316
@JafarAbdi can the ROS 2 port be used? I am using Foxy distro.

[2022-07-26 21:39] JafarAbdi commented on #316
Hi @lm2292, yeah it's usable, actually we've been using it for multiple projects without any problem, but unfortunately foxy was missing some important fixes (I forgot what they were) which why it's not supported.

Galactic, Humble, and Rolling are the currently supported distros

[2022-08-04 10:03] hcostelha opened #377 "Unable to compile moveit_task_constructor"
Hi,

I was trying to follow the MoveIt getting started with ROS2 Humble in Ubuntu 22.04, using the binary install. Due to the problem show [here](https://answers.ros.org/question/404556/issue-with-binary-install-of-moveit2-with-ros2-humble-in-ubuntu-2202/), I had to install ros-humble-pilz-industrial-motion-planner_2.5.3-1jammy.20220801.185125_amd64.deb from [here](http://packages.ros.org/ros2-tes

[2022-08-04 10:21] hcostelha commented on #377
I just saw that a change was applied to moveit_ore that went to version 2.5.3, so I probably need to update everything to 2.5.3 to get a coherent installation. I will do that and report back.

[2022-08-04 10:55] hcostelha commented on #377
So, I have updated all (and only) the moveit packages to the version available in _testing_, which is on version 2.5.3. After doing so, the moveit_task_constructor compiled successfully. No I have another compilation problem in the tutorials, but is another story.

Sorry for the entropy. Best regards.

[2022-08-04 10:55] #377 closed

[2022-08-16 17:17] stephanie-eng opened #378 "Terminal output for propagator stages shows no solutions propagated"
When planning a task with propagator stages, the terminal output doesn't match what I expected.

My understanding of the terminal output is that the first number in a given row indicates the number of solutions propagated backward, the second indicates the number of solutions generated, and the third indicates the number of solutions propagated forward. When planning a task with propagator stages,

[2022-08-16 18:21] rhaschke commented on #378
This is indeed weird behavior. I'm sure that worked in the past. Need to have a look...

[2022-08-16 19:17] rhaschke commented on #378
I checked this. The figures don't reflect the number of propagated states (as you expected), but actually the current number of states within the incoming/outgoing InterfaceState queues. As the propagator stages remove those states after processing (in contrast to a connect stage), the numbers are zero there. Actually, this output was intended for debugging of state propagation and is not really i

[2022-08-16 19:17] #378 closed

[2022-08-23 14:59] Smail8 opened #379 "Get the generated grasp pose associated with a planned solution"
Hello,

I am trying to use MTC in a task planner for a combined task and motion planning approach. I need a way to get the chosen grasp pose from a planned solution.

For example in a Pick task, the GenerateGraspPose stage generates multiple grasps, each valid grasp leads to a solution. In my case I fix the number of planned solutions to the pick task to 1, and I want to access the grasp pose (as

[2022-08-23 19:53] rhaschke commented on #379
That's not possible currently. We discussed an appropriate extension in https://github.com/ros-planning/moveit_task_constructor/pull/194.

[2022-08-25 12:02] Smail8 commented on #379
Thank you for your response ! I'm closing the issue.

[2022-08-25 12:02] #379 closed

[2022-08-26 06:21] swiz23 commented on #359
@JafarAbdi,

Here's a quick way to see the non-circular path currently generated for a non-TCP frame. I tested using the latest ros2 branch of MTC and main branch of moveit2 at the time of this writing. I did the following:

- Include the following code snippet in the panda.urdf file located [here](https://github.com/ros-planning/moveit_resources/blob/ros2/panda_description/urdf/panda.urdf). This

[2022-09-02 22:04] minkowski-jetson opened #381 "Moveit Task Constructor Build Failure Ubuntu 22.04"
Hi, I've been trying to complete the pick and place with moveit task constructor tutorial, but I can't build moveit_task_constructor.

I  follow the instructions and when it's time to build using: colcon build --mixin release I get a series of errors based on pyenv and the system python version being 3.10.4

The first is

Starting >>> moveit_task_constructor_msgs
Starting >>> rviz_marker_tools
Sta

[2022-09-05 18:51] swiz23 commented on #359
Thanks @rhaschke,

What would be the best way to test this? PR #380 is a ROS1 fix while PR #1547 is a ROS2 fix. I tried to go about it by using your moveit2 cartesian-interpolator branch, then merging the MTC fix-cartesian-interpolation branch into the ros2 branch of MTC, but ended up with merge conflicts.

[2022-09-05 19:22] rhaschke commented on #359
If I find time tomorrow, I will try the merge.

[2022-09-06 14:52] rhaschke commented on #359
@swiz23: See https://github.com/ros-planning/moveit_task_constructor/pull/382 for a ros2 fix. You will also need https://github.com/ros-planning/moveit2/pull/1547

[2022-09-07 15:25] swiz23 commented on #359
Thanks, I'll try this out!

[2022-09-21 11:48] himanshuk32 opened #383 "MoveIt! Task Constructor pipeline for other robotic arms"
The existing moveit_task_constructor is stable and working properly with panda arm. But, there's no straightforward way to use the same with other robotic arms like Universal Robot or ABB robots.
Is there any idea on how to do that? It would be of great help if someone could post a documentation or reference links for the same.

Thank you.

[2022-10-11 08:07] v4hn commented on #349
I'm not sure why you think this behavior is unintuitive. I think it's one of the few sane parts of the pipeline. :-)
The correct phrasing is "set `allowCollisions()` to false to have the collisions enabled *before* the stage and disabled *after* the stage.
The generated solution is always interpreted start to end and so are the defined stages when you read through the task.
So if you see a Stage w

[2022-10-14 03:27] swiz23 commented on #359
Finally got the time to try this out and it works as expected!
I'd like to test this out on the code for my particular project. Will update here.

[2022-10-18 09:48] JSchaaf2 opened #384 "Use a task's solution planning scene in future tasks"
I want to plan tasks ahead of time to avoid having to wait for the planning itself between executing tasks. My idea is that it should be possible to plan the next task as soon as there is a solution for the current task, if the plan is made using the planningscene at the end of the current task. This is mainly to deal with objects that the robot is moving in its current task.

There is the fixed_s

[2022-10-19 16:38] patwaririshab opened #385 "Building using catkin_make failed in ros-melodic"
Description:
1. Was trying to catkin_make to build package on ros-melodic on nvidia jetpack (Ubuntu 16.04)
2. Errors:

- error: use of ‘auto’ in lambda parameter declaration only available with -std=c++14 or -std=gnu++14

Error Logs
[code]

[2022-10-19 18:53] rhaschke commented on #385
ROS Melodic targets Ubuntu 18.04 (not 16.04) and thus assumes a C++14 compiler by default.
So please ensure that your system compiler handles C++14.
https://gist.github.com/ax3l/53db9fa8a4f4c21ecc5c4100c0d93c94
https://unix.stackexchange.com/questions/309254/g-how-to-use-std-c14-be-default

[2022-10-20 06:35] patwaririshab commented on #385
Apologies, made an error, I am actually using Ubuntu 18.04 LTS [linux version 4.9.253-tegra]

I tried the steps above, however it did not resolve the issue.
I suspect it could be due to QT. I am using qt5.95 (default QT version)

[2022-10-20 14:51] swiz23 commented on #359
Tested for my application successfully! I'll close this issue once the PR gets merged.

[2022-10-20 15:50] rhaschke commented on #384
Yes, that's possible. However, ideally, you would just append the latter task to the former and plan them simultaneously. That's what MTC is about!

Exactly. This stage is initialized with a `PlanningScenePtr`.

Not anymore. Where did you see this pointer?

Indeed the approach to access the Scene is very similar:
`task_->solutions()->front()->end()->scene()`

[2022-10-27 08:34] JSchaaf2 commented on #384
I am not sure that is practical in our case, as we might not know what the second task will be when the first one starts. I assumed it was not possible to add stages to a task that is already executing. But I don't (yet) see a big difference between adding another task or adding stages to the old one. At least when splitting up the solution messages to execute other code in-between as suggested in

[2022-10-27 08:34] #384 closed

[2022-10-27 08:39] rhaschke commented on #384
That's true. It's not possible.

[2022-10-28 19:03] sea-bass commented on #359
I'm actually working on using the [Pilz motion planner](https://github.com/ros-planning/moveit2/tree/main/moveit_planners/pilz_industrial_motion_planner) as a planner within MTC that will give you a single circular arc trajectory, so you don't need a bunch of piecewise waypoints.

If this is of interest, I can keep this issue updated as I find time to flesh out my proof of concept.

[2022-10-31 08:12] rhaschke commented on #359
Of course, the Pilz planner is another option to generate circular motions. But that wasn't the original issue here.

[2022-10-31 13:54] swiz23 commented on #359
@sea-bass, yep - that's definitely another option. But actually, in some cases (like the one here), you wouldn't need to specify a bunch of piece-wise way points. You would just specify a desired end-rotation around a desired frame, and that's it.

Looking forward to seeing #380 merged in soon :)

[2022-11-01 23:04] #359 closed

[2022-11-02 03:17] swiz23 commented on #359
Hey @rhaschke,

Thanks so much for merging that in! I assume that will be merged into the ros2 branch soon as well?

[2022-11-02 06:00] rhaschke commented on #359
Yes, I‘m working on it…

[2022-11-02 19:42] rhaschke commented on #359
@swiz23, I merged the master branch, including #380, into ros2.

[2022-11-09 13:50] DatSpace opened #390 "Dual arm collaborative support"
One of the biggest issues I believe with this repo is the lack of detailed documentation. This issue is to ask the following questions that I was not able to clearly answer after a lot of effort searching.

- Does the task constructor support dual arm planning? For example, you can specify a move_group that references two other move_groups and then do a single plan for two goals for each end effec

[2022-11-09 13:58] rhaschke commented on #390
Depends on the type of goals. For joint-space goals that should work out-of-the-box. Cartesian goals can be specified for a single end-effector only. You could try to plan Cartesian motions for both groups independently of each other with a `Merger` container, which will finally merge both trajectories into a single one.

Only a single Cartesian goal is supported.

MTC's master branch supports Mov

[2022-11-09 21:05] quarkytale opened #391 "Member mismatch in moveit_task_constructor_visualization build failure"
### Description
Build failing with `moveit2_tutorials` and its dependencies  on humble/focal while trying to build from source. Seems like a version mismatch but I can't figure out which package/commit this could be related to. An older issue mentioned `srdfdom` to be on the ${ROS_DISTRO} branch but I have that already on `release/humble/srdfdom/2.0.4-1`. Any suggestions where to look?

### Enviro

[2022-11-09 21:40] rhaschke commented on #391
With latest updates I had to adapt for Qt 5.15 running on Ubuntu Jammy. To maintain compatibility with Focal (using Qt 5.12), I filed a PR draft: https://github.com/ros-planning/moveit_task_constructor/pull/392

Please review/test and report any remaining issues. I don't have a Humble installation on Focal to test myself. Thanks!

[2022-11-09 23:41] quarkytale commented on #391
Thank you so much for the quick fix @rhaschke, it worked for me!

[2022-11-10 13:20] rhaschke commented on #391
Closing the original issue as fixed. I cannot help with the launch issue you linked.

[2022-11-10 13:20] #391 closed

[2022-11-19 15:14] cs-99 opened #394 "pickplace demo on Galactic"
While writing a component for picking and placing objects via the moveit task constructor i ran into an issue where the inverse kinematic would always fail due to what seems like an empty pose. I then checked the demo (via demo.launch.py and pickplace.launch.py as in the tutorial) to see that the same problem is occuring there.
![pickplacedemo](https://user-images.githubusercontent.com/67115649/20

[2022-11-27 18:26] JafarAbdi commented on #394
Sounds similar to https://github.com/ros-planning/moveit2/pull/1274, can you make sure moveit version you use have those fixes?

[2022-11-28 10:08] JSchaaf2 opened #395 "ClassLoader warning when removing one of multiple tasks"
I am not sure if I should ask this here or in the class loader but: I sometimes have multiple tasks, but when I remove one while still having another task I get this warning. I do not get this warning when I remove the last task.

[code]

I am guessing the library is attempted to be unloaded when a task is removed, which fails because other tasks still use it. Because I don't get this warning if I

[2022-11-28 12:19] rhaschke commented on #395
Here is the right place to ask. Could you prepare a minimal example for this?
(I didn't observe that warning when using multiple tasks in the same process.)

[2022-11-28 15:04] captain-yoshi opened #396 "CMake Warnings"
Updated MTC to latest commit https://github.com/ros-planning/moveit_task_constructor/commit/2cf4f8f0467c9482ca17c127a57575178d75ad2f and got unexpected warnings when building using `catkin build` on Ubuntu 20.04 and ROS Noetic. Also had to do a `git submodule update --init` to populate the pybind11 submodule. Also did a `catkin clean` on my workspace.

[code]

[2022-11-28 20:21] rhaschke commented on #396
I had another idea for the origin of that problem: Maybe you have both MoveIt and MTC in your catkin workspace (we don't test this combo in our CI).

[2022-11-28 20:37] rhaschke commented on #396
Indeed, that seems to be the culprit. I was able to reproduce those warnings with such a workspace. I will try to fix that asap, but I'm very busy this week.

[2022-11-28 22:08] rhaschke commented on #396
The first symlink issue stems from the fact that both, MoveIt and MTC attempt to deploy a similar libmoveit_python_tools.so to the very same install location.

[2022-11-29 02:19] captain-yoshi commented on #396
Latest MoveIt commit https://github.com/ros-planning/moveit/commit/1f4435190f7498d746b8066fb72c956eebe8eeef.

Yes I have both of them in my workspace.

[2022-11-29 19:05] captain-yoshi opened #397 "RViz better error comment in MoveRelative stage"
In the `MoveRelative` stage, it would be great to have the real issue as a comment. In this task, it can't compute due to collision the attached objects.

One idea is to add a verbose flag when checking for collision checks to show up in the terminal, but it would be even better to have the error message in the UI :
[code]

![image](https://user-images.githubusercontent.com/32679594/204618948-64f2

[2022-11-29 19:29] captain-yoshi opened #399 "MoveRelative does not respect cartesian lift up"
Stumbled upon a weird behavior where the cartesian solver with the `MoveRelative` stage seems to use a sampling based planner in one of the solutions (similar to the lift_object in the demo). Hard to replicate and may be due to my configuration of the task.

[code]

https://user-images.githubusercontent.com/32679594/204626313-72ce6d74-2e10-4cb5-b5af-2bca8c43b15e.mp4

[2022-11-29 20:05] rhaschke commented on #399
For me, it looks like the IK solver switched from a right to left solution in the base and just performed linear interpolation between those.
When a sampling-based planner was used, this should be visible by quite different log output in the console.

[2022-11-29 20:40] captain-yoshi commented on #399
You are right, it makes more sense. Is this considered a bug ?

[2022-11-29 20:49] rhaschke commented on #399
Usually such "solutions" are rejected via `step_size` and `jump_threshold` parameters. Given your rather small values for those parameters, there might be a bug in MoveIt's `computeCartesianPath()`.
Which IK solver do you use? Can you reproduce the issue?

[2022-11-29 21:35] vatanaksoytezer opened #400 "Release"
Is there anything blocking MTC to be released for noetic, rolling and humble? MTC seems to be used by many, and it would be great if we can give people access to binaries.

[2022-11-29 22:04] captain-yoshi commented on #399
I use `Track IK`. It is also hard to reproduce. I will try to reproduce and report back.

[2022-11-30 09:40] rhaschke commented on #400
@v4hn considered the API not yet stable and thus didn't agree to a release yet in the past.
Given, that this repo hasn't seen many commits in the last 2 years, this could be re-evaluated.
Before releasing though, we should address some existing and new issues (e.g. #396)

[2022-11-30 12:07] JSchaaf2 opened #401 "Segfault when creating multiple tasks"
I was creating a minimal example for another issue and finally stumbled on a something that looks a lot like another issue I had but never found a minimal example for.

<details>
  <summary>modefied doTask() from pick and place tutorial</summary>

[code]
</details>

The above code causes a segfault in the collision checking of the IK wrapper for the second task and the following warning is very ra

[2022-11-30 12:16] JafarAbdi commented on #401
Do you mind sharing the stacktrace when it segfaults?

I wonder if it's related to the class implementation, is it possible to share the whole class code?

[2022-11-30 13:05] JSchaaf2 commented on #401
<details>
  <summary>This is backtrace I get</summary>

[code]
</details>

It is the tutorial code from the [pick and place example](https://moveit.picknik.ai/humble/doc/tutorials/pick_and_place_with_moveit_task_constructor/pick_and_place_with_moveit_task_constructor.html) in the moveit humble docs.

<details>
  <summary>My class looks like this</summary>

[code]

</details>

<details>
  <summary>

[2022-11-30 13:35] JafarAbdi commented on #401
I thought we fixed this with https://github.com/ros-planning/moveit_task_constructor/commit/e923fbc0c6bd477d15532b335581734857d0eafc, I'll take a look later this week!

[2022-11-30 14:54] JSchaaf2 commented on #401
Actually it look like the issue might be fixed, but I don't think it was e923fbc. I didn't properly clean everything and was still using 1e65027 (the commit after e923fbc), Using the latest commit in the ros2 branch that I can build without issues f28b6c4, the segfault from my example doesn't happen anymore.

[2022-11-30 16:03] rhaschke commented on #401
Between 1e65027 and f28b6c4 there was no actual code change. Hence, it is surprising to me that the former exhibits the segfault while the latter does not. You mention build issues with the latest ros2 branch. Could you please report them in a new issue?